@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  font-family: "Roboto", sans-serif;
  --primary-color: #6C25FF;
  --secondary-color: #6C25FF4B;
  --btn-color: #CBCBCB;
  --bg-color: #F7F8F9;
}